body, h1,h2, h3, p ,ul{
    margin:0;
    padding:0;
}

/*Styling the whole page*/
body{
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    color:#333333;
}

/*Styling for header*/
header{
    background-color: #08134e;
    color:#fff;
    padding:20px;
    text-align: center;
}

/*Styling for Navigation */
nav{
    background-color: #312d70;
    padding:10px;
}

nav ul{
    list-style-type: none;
    text-align: center;
}

nav ul li{
    display: inline;
    margin-right: 20px;
}

nav ul li a{
    color: #fff;
    display: inline;
    margin-right: 20px;
}

/*Styling for study plan heading*/
.study-plan-heading{
    text-align: left;
    margin-top:20px;
    margin-left:20px;
}

/*Styling the main content*/
main{
    display:flex;
    justify-content: space-around;
    margin-top:20px;
}

/*Styling each sections*/
section{
    background-color: #ffffff;
    padding: 25px;
    border:1px solid #ccc;
    border-radius: 10px;
    box-shadow:0 2px 4px rgba (0, 0, 0, 0.1) ;
    flex-basis:30%;
    height:300px;
    margin:10px;
    font-size:18px;
}

section ul{
    margin-top: 10px;
}

section li{
    margin-bottom: 20px;
}

section h2{
    margin-bottom: 10px;
}

/*Styling for buttons*/
button {
    background-color: #031f35;
    color:#fff;
    border: none;
    padding:10px 20px;
    border-radius:5px;
    cursor:pointer;
    margin-top:20px;
    display:block;
    margin-left:auto;
    margin-right:auto;
}

button:hover{
    background-color: #0c1f8a;
}

/*Styling for footer*/
footer{
    background-color: #050b30;
    color:#fff;
    text-align: center;
    padding:10px;
    position:fixed;
    bottom:0;
    width:100%
}
