/*Style for body element */
body{
    margin: 0;
    padding:0;
    height: 100vh;
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
}

/*Style for h1 element*/
h1{
    text-align: center;
    position: absolute;
    top:20px;
    left:50%;
    transform: translateX(-50%);
}

.image-container {
    display:inline-block;
    margin: 20px;
    text-align: center;
}

/*Style for images*/
img{
    height:auto;
    border-radius: 10px;
    max-width:300px;
    
}

/*Applying grayscale filter to the 1st image*/
.image-container:nth-child(2) img{
    filter: grayscale(100%);
}

/*Applying saturation filter to the 2st image*/
.image-container:nth-child(3) img{
    filter: saturate(5);
}

/*Applying contrast filter to the 3th image*/
.image-container:nth-child(4) img{
    filter: contrast(200%);
}

